@model IEnumerable<AndrewsPieShop.Models.Pie>

<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Andrew's Pie Shop</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <link rel='stylesheet' type='text/css' media='screen' href='main.css'>
    <script src='main.js'></script>
</head>
<body>
    <h1>@ViewBag.CurrentCategory</h1>
    <ul>
        @foreach (var pie in Model)
        {
            <li>@pie.Name - @pie.Price.ToString("c") - @pie.Category.CategoryName</li>
        }
    </ul>
</body>
</html>